<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="QueToDb.Dbs.MongoDB.ConnectionString" value='mongodb://localhost'/>
    <add key="QueToDb.Dbs.MongoDB.DbName" value="QueToDb"/>
    <add key="QueToDb.Dbs.MongoDB.CollectionName" value="QueToDbMessages"/>
  </appSettings>
</configuration>