<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="QueToDb.Queues.Redis.Address" value="localhost" />
    <add key="QueToDb.Queues.Redis.QueueName" value="QueToDbQueue" />
    <add key="QueToDb.Queues.MSMQ.Address" value=".\Private$\QueToDb" />
    <add key="QueToDb.Queues.NetMq.Address" value="tcp://127.0.0.1:5556" />
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="QueToDb.Queues.EventHub.ServiceBus.EnentHubName" value="quetodb-eventhub" />
    <add key="QueToDb.Queues.EventHub.ServiceBus.SendConnectionString" value="Endpoint=sb://trackingportal.servicebus.windows.net/;SharedAccessKeyName=SendPolicy;SharedAccessKey=kBA8gaaZ3mXNpBZ/YomkBIwUBShJu10rEO48RugOiTE=" />
    <add key="QueToDb.Queues.EventHub.ServiceBus.ListenConnectionString" value="Endpoint=sb://trackingportal.servicebus.windows.net/;SharedAccessKeyName=ListenPolicy;SharedAccessKey=yI+agmvXZY6qqrKGWemd7GQwre8JRj3CRNfIhXno67Y=" />
    <add key="QueToDb.Queues.EventHub.ServiceBus.AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=eventhubstorage;AccountKey=9qsq3SxuxUzltfTSH1K1CglcWLbaCAvmq9Y7w1Ur7E7sFUgvklmFb7R+/26Uud/FebME7kAIII51XJdtvB5FkQ==;BlobEndpoint=https://eventhubstorage.blob.core.windows.net/;" />
    <add key="QueToDb.Queues.AzureQueue.ServiceBus.QueueName" value="quetodb-azurequeue" />
    <add key="QueToDb.Queues.AzureQueue.ServiceBus.ManageConnectionString" value="Endpoint=sb://trackingportal.servicebus.windows.net/;SharedAccessKeyName=Manage;SharedAccessKey=60fQZHv5GUt6VOPklFZiGUNJTHdJUCDrsEIN42Lw88c=" />
    <add key="QueToDb.Queues.AzureQueue.ServiceBus.SendConnectionString" value="Endpoint=sb://trackingportal.servicebus.windows.net/;SharedAccessKeyName=Send;SharedAccessKey=2Wh0FhyzK706XjYWvTtTXbTmpU+4xPDD98JL9Oeru+U=" />
    <add key="QueToDb.Queues.AzureQueue.ServiceBus.ListenConnectionString" value="Endpoint=sb://trackingportal.servicebus.windows.net/;SharedAccessKeyName=Listen;SharedAccessKey=4j9AcOfDhHYY5j7SxzZzDxfcct0czpFW7HXI1Lqbi7g=" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>