<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="QueToDb.Dbs.DocumentDB.Endpoint" value="https://quetodb.documents.azure.com:443/" />
    <add key="QueToDb.Dbs.DocumentDB.AuthKey" value="twAMR4H+9CGmjn3wpdJ0vbAueNfvH2XdvGyg1xUDIAZYa2emy0eomPxpOIDHH4MEDp2OSOptcKgBIVHbBsFKFA==" />
    <add key="QueToDb.Dbs.DocumentDB.DbName" value="QueToDb" />
    <add key="QueToDb.Dbs.DocumentDB.CollectionName" value="QueToDbMessages" />
  </appSettings>
</configuration>